@tailwind base;
@tailwind components;
@tailwind utilities;

.h-menu {
  height: 15vh;
}
.h-body {
  height: 85vh;
}
.text-10xl {
  font-size: 10rem; /* 128px */
  line-height: 1;
}
.text-12xl {
  font-size: 12rem; /* 128px */
  line-height: 4;
}

/* Loading spinner */
.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.content-container {
  overflow-y: auto;
}